
/* General */

@font-face {
    font-family: 'icons';
    src: url('icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    background-color: #f0f0f0;
    font: 16px/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-y: scroll
}

body,
a,
a:hover,
a:focus,
caption {
    color: #333
}

/*Inside*/
.dark-mode .head__faq, 
.dark-mode .head__game-picker, 
.dark-mode .team {
    background-color: #222222;
    color: white;
}

.dark-mode .tail__picker, 
.dark-mode .filter__button:hover {
    background-color: #222222;
}

/*Outside*/
.dark-mode,
.dark-mode .team-planner, 
.dark-mode .game-picker__button,
.dark-mode .head__team::before,
.dark-mode .pokedex-entry__button,
.dark-mode .filter__button,
.dark-mode .filter__search-bar, 
.dark-mode .team__type-analysis {
    background-color: #313131;
}

.dark-mode .darkButton, 
.dark-mode a, 
.dark-mode .tail__footer,
.dark-mode .filter__name, 
.dark-mode .picker__pokedex-name, 
.dark-mode .filter__button,
.dark-mode .filter__search-bar {
    color: white;
}

.dark-mode h2 {
    background: linear-gradient(0deg, #222222 50%, #313131 50%);
}

h1, h2, h3 {
    font-weight: 700;
    text-align: center;
}

h1 {
    color: #ff69b4;
    font-size: 2em;
    margin: 0 0 1em
}

h2 {
    background: #f0f0f0;
    background: linear-gradient(0deg, rgba(246, 246, 246, 1) 50%, rgba(240, 240, 240, 1) 50%);
    color: #4d6ad8;
    font-size: 1.5em;
    text-align: left;
    display: inline-block;
    margin: 0 0 0.5em;
    position: absolute;
    top: -0.75em;
    left: 1em;
}

h3 {
    font-size: 1em;
    line-height: 2;
    margin: 2em 0 0
}

h1 a {
    text-decoration: none;
    color: inherit;
}

p {
    text-align: center;
    font-size: 0.875em;
}

button {
    cursor: pointer;
    font: inherit;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

article {
    background-color: #f0f0f0;
    max-width: 81.875em;
    padding: 0 1.25em;
    margin: 1em auto
}

article section {
    background: #f6f6f6;
    border-radius: 1em;
    border: 0.0625em solid #dedede;
    padding: 1.25em 1em 1em;
    margin: 0 auto 1.25em;
    position: relative;
}

.team__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.team__button {
    background-color: #4d6ad8;
    color: #f0f0f0;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    padding: .2em .5em;
    border-radius: .25em;
    cursor: pointer;
    box-sizing: border-box;
    flex-basis: 12em;
}

.team__button:hover,
.team__button:focus {
    color: #f0f0f0;
    text-decoration: none
}

/* Game */

.head__game-picker {
    padding: 2em;
}

.head__game-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.game-picker {
    list-style: none;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, 16em);
    justify-content: center;
    padding: 0;
    margin: 2em 0;
}

.game-picker__button {
    display: block;
    background: #fff;
    text-align: center;
    width: 16m;
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
}

.game-picker__button:hover {
    background: #d9d9d9;
}

.game-picker__game_disabled {
    filter: grayscale(1);
}

.game-picker__game_disabled .game-picker__button {
    cursor: auto;
    background: #e6e6e6;
}

.head__game-logo,
.game-picker__game-logo {
    width: 14rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin: 0.75em 0;
}

.head__game-logo {
    display: block;
    text-indent: -999em;
    margin: 0;
}

.head__game-logo_xy,
.game-picker__game-logo_xy {
    height: 3rem;
    line-height: 3rem;
    margin: 1em 0;
}

.head__game-logo_oras,
.game-picker__game-logo_oras,
.head__game-logo_sv,
.game-picker__game-logo_sv {
    width: 13rem;
    height: 4rem;
    line-height: 4rem;
    margin: 0.5em 0;
}

.head__game-logo_gsc,
.game-picker__game-logo_gsc,
.head__game-logo_swsh,
.game-picker__game-logo_swsh,
.head__game-logo_arceus,
.game-picker__game-logo_arceus,
.head__game-logo_home,
.game-picker__game-logo_home {
    width: 10rem;
    height: 5rem;
    line-height: 5rem;
    margin: 0;
}

.head__game-logo_bdsp,
.game-picker__game-logo_bdsp {
    width: 11rem;
}

.head__game-logo_arceus,
.game-picker__game-logo_arceus {
    width: 7.5rem;
}

.head__game-logo_home,
.game-picker__game-logo_home {
    width: 7rem;
}

.head__game-logo_rby,
.game-picker__game-logo_rby {
    width: 10.5rem;
    height: 1.875rem;
    line-height: 1.875rem;
    margin: 1.5625rem 0;
}

.head__game-logo_gsc,
.game-picker__game-logo_gsc {
    width: 5.625rem;
}

.head__game-logo_rse,
.game-picker__game-logo_rse,
.head__game-logo_dppt,
.game-picker__game-logo_dppt {
    width: 13rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 1.25em 0;
}

.head__game-logo_frlg,
.game-picker__game-logo_frlg {
    width: 11.5rem;
    height: 3.25rem;
    line-height: 3.25rem;
    margin: 0.875em 0;
}

.head__game-logo_bw,
.game-picker__game-logo_bw {
    width: 12.5rem;
    height: 3.75rem;
    line-height: 3.75rem;
    margin: 0.625em 0;
}

.head__game-logo_b2w2,
.game-picker__game-logo_b2w2 {
    width: 12rem;
    height: 3.375rem;
    line-height: 3.375rem;
    margin: 0.8125em 0;
}

.head__game-logo_sv,
.game-picker__game-logo_sv {
    width: 14rem;
}

/* FAQ */

.head__faq dl {
    margin: 2em;
}

.head__faq dl p {
    text-align: left;
    margin: 1em 0;
    max-width: none;
}

.head__faq abbr {
    text-decoration: none;
}

dt {
    font-weight: 700;
}

/* Team */

.head__team {
    position: relative;
    padding: 1.5em 0 0;
}

.head__team::before {
    content: "";
    position: absolute;
    inset: 0 0 5rem 0;
    background-color: #f0f0f0;
}

.head__header p {
    max-width: 75%;
    margin: 1em auto;
}

.team {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    padding: 2em;
}

.slot__pokemon-render {
    width: 10em;
    height: 10em;
    margin: 1em;
    filter: drop-shadow(0 0 0.5px #1b1b1b);
    /*filter: drop-shadow(1px 0 0 black)
            drop-shadow(0 1px 0 black)
            drop-shadow(-1px 0 0 black)
            drop-shadow(0 -1px 0 black);*/
}

.slot__pokemon-render_sv {
    filter: none;
}

.slot__pokemon-render_gmax {
    width: 12em;
    height: 12em;
    margin: 0;
}

.team__slots {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-content: center;
    gap: 1em 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    justify-items: center;
    width: 12em;
    padding: 0;
}

.slot__remove-button,
.slot__info {
    cursor: no-drop;
}

.slot_populated.slot_hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.slot__bg-type-1,
.slot__bg-type-2 {
    background-size: 600% 600%;
    background-image: url(./img/types_bg.png);
}

.slot_empty .slot__bg-type-1,
.slot_empty .slot__bg-type-2 {
    background-image: url(./img/type_unknown.png);
    background-size: contain;
}

.slot__bg-type-2 {
    margin: 0;
}

.slot__info {
    width: 11em;
    height: 5em;
    border-radius: 0.625em;
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-rows: 2em 1em;
    gap: 0.5em;
    justify-content: center;
    text-align: center;
}

.slot__name, .slot__form, .slot__type {
    line-height: 1;
}

.slot__name-container {
    display: flex;
    flex-direction: column;
    gap: 0.375em;
}

.slot__name {
    font-size: 0.875em;
    font-weight: 700;
    width: 100%;
}

.slot__form {
    font-size: 0.75em;
}

.slot__form_none {
    display: none;
}

.slot__type-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.slot__type {
    width: 4.375em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    line-height: 1em;
    text-indent: -999em;
}

.slot_empty .slot__type-container,
.slot__type_undefined {
    display: none;
}


.slot__toggle-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin: 0.25em 0 0;
}

.slot__toggle-container_hidden {
    display: none;
}

.slot__toggle {
    font-family: 'icons';
    background: #fff;
    width: 1.5em;
    font-size: 1em;
    line-height: 1.5em;
    border-radius: .75em;
    filter: drop-shadow(0 0 1px #1b1b1b);
    color: #ccc;
}

.slot__toggle_shiny {
    color: #E96D23;
}

.slot__toggle_female {
    color: #fff;
    background: #EF547D;
}

.slot__toggle_male {
    color: #fff;
    background: #3B71DC;
}

.slot__toggle_tera {
    text-indent: -999em;
    width: 2em;
    height: 2em;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    filter: none;
}

.slot__toggle_tera_picked:hover {
    transform: scale(0.75);
    cursor: no-drop;
}

.slot__toggle_tera_none {
    background-color: #a6a6a6;
    mask-image: url(img/type/tera.png);
    mask-size: 2em;
    -webkit-mask-image: url(img/type/tera.png);
    -webkit-mask-size: 2em;
}

.slot__toggle_tera_none:hover {
    background-color: #686868;
}

.slot__toggle_hidden {
    display: none;
}

.tera-picker {
    position: absolute;
    list-style: none;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(6, 2em);
    gap: 1em;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    top: 2.25em;
    left: -8.5em;
    z-index: 100;
    filter: drop-shadow(0 2px 5px rgba(91,91,91,0.25));
}

.tera-picker_hidden {
    display: none;
}

.tera-picker__button {
    text-indent: -999em;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .tera-picker__button:hover {
    transform: scale(1.25);
  }

/* Dex */

.picker__pokedexes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 2em 0;
    padding: 0;
}

.picker__pokedex-container_hidden {
    display: none;
}

.picker__pokedex-name {
    margin: 0;
}

.picker__pokedex {
    list-style: none;
    display: grid;
    gap: 0.25em;
    grid-template-columns: repeat(auto-fill, 5em);
    justify-content: center;
    margin: 1em 0;
    padding: 0;
}

.pokedex-entry {
    background-color: #eee;
    border-radius: 0.5em;
}

.pokedex-entry:hover {
    background-color: #cdf;
}

.pokedex-entry_filtered,
.pokedex-entry_picked {
    display: none;
}

.pokedex-entry__thumb {
    width: 4rem;
    height: 4rem;
    padding: 0.125rem 0;
    margin: 0.5em;
    filter: drop-shadow(0 0 0.5px #1b1b1b);
}

.pokedex-entry__thumb_sv {
    width: 5rem;
    height: 5rem;
    filter: none;
    margin: 0;
}

.pokedex-entry__button:hover .pokedex-entry__thumb {
    animation: jump 0.33s linear infinite;
}


/* Filters */

.picker__filters {
    display: grid;
    gap: 1em 0;
    grid-template-columns: repeat(auto-fill, 19em);
    justify-content: center;
    margin: 1em auto 0;
}

.filter {
    display: grid;
    grid-template-columns: 8.5em 12em;
    position: relative;
}

.filter__name {
    vertical-align: middle;
    display: inline-block;
    margin: 0 1em 0;
    width: 6.5em;
    text-align: center;
    font-weight: 700;
    line-height: 2em;
}

.filter__button,
.filter__search-bar {
    width: 10.5rem;
    border: none;
    padding: 0.375rem 0.1875rem;
    font-size: .875em;
    line-height: 1.125rem;
    background: #fff;
    color: inherit;
    cursor: pointer;
    border: 1px solid #d9d9d9
}

.filter__search-bar {
    cursor: text;
}

.filter_enabled .filter__button {
    cursor: pointer;
}

.filter_enabled .filter__button::after {
    display: inline-block;
    width: 0;
    height: 0;
    content: '';
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 1em;
    right: 1em;
}

.filter__button:hover,
:where(.filter_active, .filter_disabled) .filter__button,
.filter__dropdown-menu li.disabled {
    cursor: auto;
    background: #e6e6e6
}

.filter_disabled .filter__button {
    cursor: auto;
}

.filter:not(.filter_active) .filter__dropdown-menu {
    display: none
}

.filter__dropdown-menu {
    display: grid;
    grid-template-columns: 12em;
    background: #fff;
    font-size: 0.875em;
    text-align: left;
    min-width: 10.5rem;
    box-sizing: content-box;
    border: 1px solid #d9d9d9;
    position: absolute;
    top: 100%;
    left: 8.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 99;
}

.filter__dropdown-menu_2col {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 12em);
    grid-template-rows: repeat(6, 2em);
}

.filter__dropdown-menu_3col {
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 8em);
    grid-template-rows: repeat(7, 2em);
}

.filter__dropdown-menu_icons {
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 8em);
    grid-template-rows: repeat(6, 2.5em);
}

.filter__dropdown-menu_2col .dropdown-menu-item:first-child {
    grid-area: 1 / span 2;
}

.filter__dropdown-menu_3col .dropdown-menu-item:first-child,
.filter__dropdown-menu_icons .dropdown-menu-item:first-child {
    grid-area: 1 / span 3;
}

.dropdown-menu-item {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1em;
    padding: 0 0.5em;
    line-height: 2em;
}

.dropdown-menu-item:hover {
    background: #f5f5f5;
}

.dropdown-menu-item_active,
.dropdown-menu-item_active:hover {
    background: #428bca;
    color: #f0f0f0;
}

.dropdown-menu-item_hidden {
    display: none;
}

.dropdown-menu-item__name {
    width: 100%;
    cursor: pointer;
}

.dropdown-menu-item__icon {
    width: 2em;
    height: 2em;
}

.dropdown-menu-item_active .dropdown-menu-item__icon {
    filter: brightness(0.25) invert(1);
}

.dropdown-menu-item__checkbox {
    cursor: pointer;
    font-size: inherit;
}

/* Table */

.team__type-analysis {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: stretch;
    text-align: center;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 1em;
    padding: 1em;
}

.type-analysis_hidden {
    display: none;
}

.type-analysis__grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, 6.875em);
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

.type-analysis__heading {
    margin: 0;
}

.tally__type-symbol {
    background-size: contain;
    display: inline-block;
    width: 2em;
    height: 2em;
    text-indent: -999em;
}

.tally_warning .tally__type-symbol {
    filter: drop-shadow(0 0 0.5em #ef8a62);
}

.slot__toggle_tera_normal,
.tera-picker__button_normal {
    background-image: url(img/type/normal_tera.png);
}

.slot__toggle_tera_fighting,
.tera-picker__button_fighting {
    background-image: url(img/type/fighting_tera.png);
}

.slot__toggle_tera_flying,
.tera-picker__button_flying {
    background-image: url(img/type/flying_tera.png);
}

.slot__toggle_tera_poison,
.tera-picker__button_poison {
    background-image: url(img/type/poison_tera.png);
}

.slot__toggle_tera_ground,
.tera-picker__button_ground {
    background-image: url(img/type/ground_tera.png);
}

.slot__toggle_tera_rock,
.tera-picker__button_rock {
    background-image: url(img/type/rock_tera.png);
}

.slot__toggle_tera_bug,
.tera-picker__button_bug {
    background-image: url(img/type/bug_tera.png);
}

.slot__toggle_tera_ghost,
.tera-picker__button_ghost {
    background-image: url(img/type/ghost_tera.png);
}

.slot__toggle_tera_steel,
.tera-picker__button_steel {
    background-image: url(img/type/steel_tera.png);
}

.slot__toggle_tera_fire,
.tera-picker__button_fire {
    background-image: url(img/type/fire_tera.png);
}

.slot__toggle_tera_water,
.tera-picker__button_water {
    background-image: url(img/type/water_tera.png);
}

.slot__toggle_tera_grass,
.tera-picker__button_grass {
    background-image: url(img/type/grass_tera.png);
}

.slot__toggle_tera_electric,
.tera-picker__button_electric {
    background-image: url(img/type/electric_tera.png);
}

.slot__toggle_tera_psychic,
.tera-picker__button_psychic {
    background-image: url(img/type/psychic_tera.png);
}

.slot__toggle_tera_ice,
.tera-picker__button_ice {
    background-image: url(img/type/ice_tera.png);
}

.slot__toggle_tera_dragon,
.tera-picker__button_dragon {
    background-image: url(img/type/dragon_tera.png);
}

.slot__toggle_tera_dark,
.tera-picker__button_dark {
    background-image: url(img/type/dark_tera.png);
}

.slot__toggle_tera_fairy,
.tera-picker__button_fairy {
    background-image: url(img/type/fairy_tera.png);
}

.tally_normal .tally__type-symbol {
    background-image: url(img/type/normal_sym.png);
}

.tally_fighting .tally__type-symbol {
    background-image: url(img/type/fighting_sym.png);
}

.tally_flying .tally__type-symbol {
    background-image: url(img/type/flying_sym.png);
}

.tally_poison .tally__type-symbol {
    background-image: url(img/type/poison_sym.png);
}

.tally_ground .tally__type-symbol {
    background-image: url(img/type/ground_sym.png);
}

.tally_rock .tally__type-symbol {
    background-image: url(img/type/rock_sym.png);
}

.tally_bug .tally__type-symbol {
    background-image: url(img/type/bug_sym.png);
}

.tally_ghost .tally__type-symbol {
    background-image: url(img/type/ghost_sym.png);
}

.tally_steel .tally__type-symbol {
    background-image: url(img/type/steel_sym.png);
}

.tally_fire .tally__type-symbol {
    background-image: url(img/type/fire_sym.png);
}

.tally_water .tally__type-symbol {
    background-image: url(img/type/water_sym.png);
}

.tally_grass .tally__type-symbol {
    background-image: url(img/type/grass_sym.png);
}

.tally_electric .tally__type-symbol {
    background-image: url(img/type/electric_sym.png);
}

.tally_psychic .tally__type-symbol {
    background-image: url(img/type/psychic_sym.png);
}

.tally_ice .tally__type-symbol {
    background-image: url(img/type/ice_sym.png);
}

.tally_dragon .tally__type-symbol {
    background-image: url(img/type/dragon_sym.png);
}

.tally_dark .tally__type-symbol {
    background-image: url(img/type/dark_sym.png);
}

.tally_fairy .tally__type-symbol {
    background-image: url(img/type/fairy_sym.png);
}

.tally__marks {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.tally__mark {
    display: inline-block;
    width: 0.5em;
    height: 2em;
    text-indent: -999em;
    background-color: #e6e6e6;
    border-radius: 0.125em;
    margin: 0 0 0 0.3125em;
    position: relative;
}

:where(.tally__mark_positive, .tally__mark_negative):hover {
    top: -0.25em;
}

.tally__mark_positive {
    background-color: #67a9cf;
}

.tally__mark_negative {
    background-color: #ef8a62;
}

.slot_grayscale {
    opacity: 0.5;
    filter: grayscale(1);
}

/* Footer */

.tail__footer {
    font-size: 0.75em;
    text-align: right
}

.footer__donation {
    line-height: 1.25rem;
    text-align: center
}

.footer__feedback {
    text-align: center
}

.footer__donation-button {
    background: url(https://img.shields.io/badge/donation%20via-PayPal-blue.svg);
    display: inline-block;
    vertical-align: middle;
    text-indent: -999em;
    direction: ltr;
    width: 7.875rem;
    height: 1.25rem;
}


/* Sprites/Variations */

.slot__type_normal {
    background-image: url(./img/type/normal.png);
}

.slot__type_fighting {
    background-image: url(./img/type/fighting.png);
}

.slot__type_flying {
    background-image: url(./img/type/flying.png);
}

.slot__type_poison {
    background-image: url(./img/type/poison.png);
}

.slot__type_ground {
    background-image: url(./img/type/ground.png);
}

.slot__type_rock {
    background-image: url(./img/type/rock.png);
}

.slot__type_bug {
    background-image: url(./img/type/bug.png);
}

.slot__type_ghost {
    background-image: url(./img/type/ghost.png);
}

.slot__type_steel {
    background-image: url(./img/type/steel.png);
}

.slot__type_fire {
    background-image: url(./img/type/fire.png);
}

.slot__type_water {
    background-image: url(./img/type/water.png);
}

.slot__type_grass {
    background-image: url(./img/type/grass.png);
}

.slot__type_electric {
    background-image: url(./img/type/electric.png);
}

.slot__type_psychic {
    background-image: url(./img/type/psychic.png);
}

.slot__type_ice {
    background-image: url(./img/type/ice.png);
}

.slot__type_dragon {
    background-image: url(./img/type/dragon.png);
}

.slot__type_dark {
    background-image: url(./img/type/dark.png);
}

.slot__type_fairy {
    background-image: url(./img/type/fairy.png);
}

.slot__bg-type-1_normal {
    background-position: 0 0
}

.slot__bg-type-2_normal {
    background-position: 20% 0
}

.slot__bg-type-1_fighting {
    background-position: 40% 0
}

.slot__bg-type-2_fighting {
    background-position: 60% 0
}

.slot__bg-type-1_flying {
    background-position: 80% 0
}

.slot__bg-type-2_flying {
    background-position: 100% 0
}

.slot__bg-type-1_poison {
    background-position: 0 20%
}

.slot__bg-type-2_poison {
    background-position: 20% 20%
}

.slot__bg-type-1_ground {
    background-position: 40% 20%
}

.slot__bg-type-2_ground {
    background-position: 60% 20%
}

.slot__bg-type-1_rock {
    background-position: 80% 20%
}

.slot__bg-type-2_rock {
    background-position: 100% 20%
}

.slot__bg-type-1_bug {
    background-position: 0 40%
}

.slot__bg-type-2_bug {
    background-position: 20% 40%
}

.slot__bg-type-1_ghost {
    background-position: 40% 40%
}

.slot__bg-type-2_ghost {
    background-position: 60% 40%
}

.slot__bg-type-1_steel {
    background-position: 80% 40%
}

.slot__bg-type-2_steel {
    background-position: 100% 40%
}

.slot__bg-type-1_fire {
    background-position: 0 60%
}

.slot__bg-type-2_fire {
    background-position: 20% 60%
}

.slot__bg-type-1_water {
    background-position: 40% 60%
}

.slot__bg-type-2_water {
    background-position: 60% 60%
}

.slot__bg-type-1_grass {
    background-position: 80% 60%
}

.slot__bg-type-2_grass {
    background-position: 100% 60%
}

.slot__bg-type-1_electric {
    background-position: 0 80%
}

.slot__bg-type-2_electric {
    background-position: 20% 80%
}

.slot__bg-type-1_psychic {
    background-position: 40% 80%
}

.slot__bg-type-2_psychic {
    background-position: 60% 80%
}

.slot__bg-type-1_ice {
    background-position: 80% 80%
}

.slot__bg-type-2_ice {
    background-position: 100% 80%
}

.slot__bg-type-1_dragon {
    background-position: 0 100%
}

.slot__bg-type-2_dragon {
    background-position: 20% 100%
}

.slot__bg-type-1_dark {
    background-position: 40% 100%
}

.slot__bg-type-2_dark {
    background-position: 60% 100%
}

.slot__bg-type-1_fairy {
    background-position: 80% 100%
}

.slot__bg-type-2_fairy {
    background-position: 100% 100%
}

.slot_empty .slot__info {
    background: #68a090;
    grid-template-rows: 1fr;
}

.slot__info_normal {
    background: #c6c6a7
}

.slot__info_grass {
    background: #a7db8d
}

.slot__info_fire {
    background: #f5ac78
}

.slot__info_water {
    background: #9db7f5
}

.slot__info_fighting {
    background: #d67873
}

.slot__info_flying {
    background: #c6b7f5
}

.slot__info_poison {
    background: #c183c1
}

.slot__info_ground {
    background: #ebd69d
}

.slot__info_rock {
    background: #d1c17d
}

.slot__info_bug {
    background: #c6d16e
}

.slot__info_ghost {
    background: #a292bc
}

.slot__info_electric {
    background: #fae078
}

.slot__info_psychic {
    background: #fa92b2
}

.slot__info_ice {
    background: #bce6e6
}

.slot__info_dragon {
    background: #a27dfa
}

.slot__info_dark {
    background: #a29288
}

.slot__info_steel {
    background: #d1d1e0
}

.slot__info_fairy {
    background: #f4bdc9
}


/* Animations */

@keyframes jump {
    0%,
    100% {
        padding: 0.25rem 0 0 0;
    }
    50% {
        padding: 0 0 0.25rem 0;
    }
}

@keyframes shake {
    00% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    1% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@media screen and (min-width: 1280px) {
    .head_sticky {
        position: sticky;
        z-index: 100;
        top: -1px;
        left: 0;
        margin-bottom: 2rem;
    }

    .head_sticky .head__team {
        height: 100%;
        transition: 0.4s;
        background: transparent;
    }

    .head_sticky .head__header,
    .head_sticky .slot__info,
    .head_sticky .slot__toggle-container,
    .head_sticky .team__buttons,
    .head_sticky .team__heading {
        display: none;
    }

    .head_sticky .team,
    .head_sticky .team__slots {
        width: 100%;
        margin: 0;
    }

    .head_sticky .team {
        display: flex;
        height: 20vh;
        min-height: 9em;
        max-height: 12em;
        padding: 0;
    }

    .head_sticky .team__slots {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head_sticky .slot {
        transform: scale(0.75);
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 1279px) {
    .slot {
        width: 8em;
        grid-template-rows: 5em 4em 1fr;
    }

    .slot__pokemon-render,
    .slot__pokemon-render_gmax {
        width: 5em;
        height: 5em;
        margin: 0 auto;
    }

    .slot__bg-type-1,
    .slot__bg-type-2 {
        width: 5em;
        margin: 0 auto;
    }

    .slot__info {
        width: 7em;
        height: 4em;
        padding: 0 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slot__type-container {
        display: none;
    }

    .picker__pokedex {
        grid-template-columns: repeat(auto-fill, 4em);
    }

    .pokedex-entry__thumb {
        width: 3em;
        height: 3em;
    }

    .pokedex-entry__thumb_sv {
        width: 4em;
        height: 4em;
    }
}

@media screen and (min-width: 775px) and (max-width: 1279px) {
    .team {
        max-width: 26em;
        box-sizing: content-box;
    }
}

@media screen and (max-width: 691px) and (orientation: portrait) {
    article {
        padding: 0;
        max-width: 19.125em;
    }
    .head__game-picker {
        padding: 1.25em 0 1em;
    }

    .head__header p {
        display: none;
    }

    .head dd {
        margin: 0;
    }

    .head__game-logo {
        background-repeat: no-repeat;
        background-position: center;
        flex-basis: 100%;
    }

    .team {
        padding: 2em 1em;
    }

    .tera-picker {
        grid-template-columns: repeat(3, 2em);
        left: -4em;
    }

    .picker__filters {
        display: none;
    }

    .tail__footer {
        font-size: 1em;
    }
}
