
/* General */

@font-face {
    font-family: 'icons';
    src: url('icons.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    background-color: #f0f0f0;
    font: 16px/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-y: scroll
}

body,
a,
a:hover,
a:focus,
caption {
    color: #333
}

:where(h1, h2, h3) {
    font-weight: 700;
    text-align: center;
}

h1 {
    color: #ff69b4;
    font-size: 2em;
    margin: 0 0 1em
}

h2 {
    background: #f0f0f0;
    background: linear-gradient(0deg, rgba(246, 246, 246, 1) 50%, rgba(240, 240, 240, 1) 50%);
    color: #4d6ad8;
    font-size: 1.5em;
    text-align: left;
    display: inline-block;
    margin: 0 0 0.5em;
    position: absolute;
    top: -0.75em
}

h3 {
    font-size: 1em;
    line-height: 2;
    margin: 2em 0 0
}

h1 a {
    text-decoration: none;
    color: inherit;
}

p {
    text-align: center;
    font-size: 0.875em;
}

button {
    cursor: pointer;
    font: inherit;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

article {
    background-color: #f0f0f0;
    max-width: 81.875em;
    padding: 0 1.25em;
    margin: 1em auto
}

article section {
    background: #f6f6f6;
    border-radius: 1em;
    border: 0.0625em solid #dedede;
    padding: 1.25em 1em 1em;
    margin: 0 auto 1.25em;
    position: relative;
}

.list {
    list-style: none;
    max-width: 80em;
    padding: 0 1.25em;
    margin: 1em auto;
}

.list-pokemon li {
    display: inline-block;
    vertical-align: top;
}

.team__buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 12em);
    gap: 1em;
}

.team__button {
    background-color: #4d6ad8;
    color: #f0f0f0;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    padding: .2em .5em;
    border-radius: .25em;
    cursor: pointer;
    box-sizing: border-box
}

.team__button:hover,
.team__button:focus {
    color: #f0f0f0;
    text-decoration: none
}

.hidden {
    display: none !important;
}


/* Game */

#team-planner h1 .game.name {
    text-indent: -999em;
    margin: 0;
}

.game {
    display: inline-block;
}

.game a {
    display: inline-block;
    background: #fff;
    text-align: center;
    width: 14em;
    padding: 1em;
    box-sizing: content-box;
    border: 1px solid #d9d9d9;
    border-radius: 0.5em;
    margin: 1em;
}

.game a:hover {
    background: #d9d9d9;
}

.game.disabled a img {
    filter: grayscale(1);
}

.game.name,
.game a img {
    width: 14rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin: 0.75em 0;
}

.game.name.xy,
.game.xy a img {
    height: 3rem;
    line-height: 3rem;
    margin: 1em 0;
}

.game.name.oras,
.game.oras a img,
.game.name.sv,
.game.sv a img {
    width: 13rem;
    height: 4rem;
    line-height: 4rem;
    margin: 0.5em 0;
}

.game.name:where(.gsc, .swsh, .arceus, .home),
.game:where(.gsc, .swsh, .arceus, .home) a img {
    width: 10rem;
    height: 5rem;
    line-height: 5rem;
    margin: 0;
}

.game.name.bdsp,
.game.bdsp a img {
    width: 11rem;
}

.game.name.arceus,
.game.arceus a img {
    width: 7.5rem;
}

.game.name.home,
.game.home a img {
    width: 7rem;
}

.game.name.rby,
.game.rby a img {
    width: 10.5rem;
    height: 1.875rem;
    line-height: 1.875rem;
    margin: 1.5625rem 0;
}

.game.name.gsc,
.game.gsc a img {
    width: 5.625rem;
}

.game.name.rse,
.game.rse a img,
.game.name.dppt,
.game.dppt a img {
    width: 13rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 1.25em 0;
}

.game.name.frlg,
.game.frlg a img {
    width: 11.5rem;
    height: 3.25rem;
    line-height: 3.25rem;
    margin: 0.875em 0;
}

.game.name.bw,
.game.bw a img {
    width: 12.5rem;
    height: 3.75rem;
    line-height: 3.75rem;
    margin: 0.625em 0;
}

.game.name.b2w2,
.game.b2w2 a img {
    width: 12rem;
    height: 3.375rem;
    line-height: 3.375rem;
    margin: 0.8125em 0;
}

.game.name.sv,
.game.sv a img {
    width: 14rem;
}

/* FAQ */

.head__faq dl {
    margin: 2em;
}

.head__faq dl p {
    text-align: left;
    margin: 1em 0;
    max-width: none;
}

.head__faq abbr {
    text-decoration: none;
}

dt {
    font-weight: 700;
}

/* Team */

.head__team {
    position: relative;
    padding: 1.5em 0 0;
}

.head__team::before {
    content: "";
    position: absolute;
    inset: 0 0 5rem 0;
    background-color: #f0f0f0;
}

.head__header p {
    max-width: 75%;
    margin: 1em auto;
}

.team {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    padding: 2em;
}

.team__heading {
    left: 1em;
}

.slot__pokemon-render {
    width: 10em;
    height: 10em;
    margin: 1em;
    filter: drop-shadow(0 0 0.5px #1b1b1b);
    /*filter: drop-shadow(1px 0 0 black)
            drop-shadow(0 1px 0 black)
            drop-shadow(-1px 0 0 black)
            drop-shadow(0 -1px 0 black);*/
}

.slot[data-slug$="-gmax"] .slot__pokemon-render {
    width: 12em;
    height: 12em;
    margin: 0;
}

.team__slots {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.slot {
    display: grid;
    gap: 0.5em;
    grid-template-rows: 12em 4em 1fr;
    justify-items: center;
    width: 12em;
    padding: 0;
}

.slot__remove-button,
.slot__info {
    cursor: no-drop;
}

.slot_populated.slot_hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.slot__bg-type-1,
.slot__bg-type-2 {
    background-size: 600% 600%;
    background-image: url(./img/types_bg.png);
}

.slot_empty .slot__bg-type-1,
.slot_empty .slot__bg-type-2 {
    background-image: url(./img/type_unknown.png);
    background-size: contain;
}

.slot__bg-type-2 {
    margin: 0;
}

.slot__info {
    width: 11em;
    text-align: center;
    height: 4em;
    border-radius: 0.625em;
    padding: 0.25em 0;
}

.slot__name, .slot__form, .slot__type {
    display: inline-block;
    line-height: 1.5rem;
    font-size: 0.875em;
}

.slot_empty .slot__name {
    list-style: 3rem;
}

.slot__name {
    font-weight: 700;
    width: 100%;
}

.slot__form {
    display: none;
    font-size: 0.75em;
}

.slot__type {
    width: 5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    min-height: 1em;
    text-indent: -999em;
}

.slot__type_undefined,
.pokedex li.filtered,
.pokedex li.picked {
    display: none;
}


.slot__toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin: 0.25em 0 0;
}

.slot__toggle-container_hidden {
    display: none;
}

.slot__toggle {
    font-family: 'icons';
    background: #fff;
    width: 1.5em;
    font-size: 1em;
    line-height: 1.5em;
    border-radius: .75em;
    filter: drop-shadow(0 0 1px #1b1b1b);
    color: #ccc;
}

.slot__toggle_shiny {
    color: #E96D23;
}

.slot__toggle_female {
    color: #fff;
    background: #EF547D;
}

.slot__toggle_male {
    color: #fff;
    background: #3B71DC;
}

.slot__toggle_hidden {
    display: none;
}

/* Dex */

.list.pokedex li {
    margin: 0.5em;
}
.list.pokedex li:hover {
    background-color: #cdf;
    border-radius: 2em;
}

.list-pokemon button img {
    width: 4rem;
    height: 4rem;
    padding: 0.125rem 0;    
    filter: drop-shadow(0 0 0.5px #1b1b1b);
}

.list-pokemon button:hover img {
    animation: jump 0.33s linear infinite;
}


/* Filters */

#filters {
    margin: 1em auto 0
}

.filter {
    display: inline-block;
    margin: 0 0 1em;
    position: relative;
}

.filter label {
    vertical-align: middle;
    display: inline-block;
    margin: 0 1em 0;
    width: 6.5em;
    text-align: center
}

.filter>label {
    font-weight: 700;
    line-height: 2em;
}

.filter button,
#search-bar {
    width: 10.5rem;
    border: none;
    padding: 0.375rem 0.1875rem;
    font-size: .875em;
    line-height: 1.125rem;
    background: #fff;
    color: inherit;
    cursor: pointer;
    border: 1px solid #d9d9d9
}

.filter:not(.disabled) button::after {
    display: inline-block;
    width: 0;
    height: 0;
    content: '';
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 1em;
    right: 1em;
}

.game.disabled a,
.filter button:hover,
:where(.filter.active, .filter.disabled) button,
.dropdown-menu li.disabled {
    cursor: auto;
    background: #e6e6e6
}

.filter.disabled button {
    cursor: auto;
}

.filter:not(.active) .dropdown-menu {
    display: none
}

.dropdown-menu {
    background: #fff;
    font-size: 0.875em;
    text-align: left;
    min-width: 10.5rem;
    box-sizing: content-box;
    border: 1px solid #d9d9d9;
    position: absolute;
    top: 100%;
    left: 8.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 99;
}

.filter[data-type$=type] .dropdown-menu,
.filter[data-type$=type] .dropdown-menu li label[for$=all] {
    width: 21rem
}

.dropdown-menu li {
    position: relative;
    display: inline-block;
    min-width: 10.5rem;
}

.dropdown-menu li:hover {
    background: #f5f5f5;
}

.dropdown-menu li.active {
    background: #428bca;
    color: #f0f0f0;
}

.dropdown-menu li label {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0.25rem 1rem 0.375rem 2rem;
    cursor: pointer;
    margin: 0;
    text-align: left;
}

.dropdown-menu li input {
    position: absolute;
    left: .5em;
    top: .375em;
    font-size: inherit;
}

#search-bar {
    cursor: text;
}

/* Table */

.grid {
    display: grid;
    gap: 1em;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

.team__type-analysis {
    text-align: center;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 1em;
    padding: 1em;
    justify-content: stretch;
}

.type-analysis_hidden {
    display: none;
}

.type-analysis__grid {
    grid-template-columns: repeat(auto-fill, 6.875em);
}

.type-analysis__heading {
    margin: 0;
}

.tally__type-symbol {
    background-size: contain;
    display: inline-block;
    width: 2em;
    height: 2em;
    text-indent: -999em;
}

.tally_warning .tally__type-symbol {
    filter: drop-shadow(0 0 0.5em #ef8a62);
}

.tally_bug .tally__type-symbol {
    background-image: url(img/type/bug_sym.png);
}
.tally_dark .tally__type-symbol {
    background-image: url(img/type/dark_sym.png);
}
.tally_dragon .tally__type-symbol {
    background-image: url(img/type/dragon_sym.png);
}
.tally_electric .tally__type-symbol {
    background-image: url(img/type/electric_sym.png);
}
.tally_fairy .tally__type-symbol {
    background-image: url(img/type/fairy_sym.png);
}
.tally_fighting .tally__type-symbol {
    background-image: url(img/type/fighting_sym.png);
}
.tally_fire .tally__type-symbol {
    background-image: url(img/type/fire_sym.png);
}
.tally_flying .tally__type-symbol {
    background-image: url(img/type/flying_sym.png);
}
.tally_ghost .tally__type-symbol {
    background-image: url(img/type/ghost_sym.png);
}
.tally_grass .tally__type-symbol {
    background-image: url(img/type/grass_sym.png);
}
.tally_ground .tally__type-symbol {
    background-image: url(img/type/ground_sym.png);
}
.tally_ice .tally__type-symbol {
    background-image: url(img/type/ice_sym.png);
}
.tally_normal .tally__type-symbol {
    background-image: url(img/type/normal_sym.png);
}
.tally_poison .tally__type-symbol {
    background-image: url(img/type/poison_sym.png);
}
.tally_psychic .tally__type-symbol {
    background-image: url(img/type/psychic_sym.png);
}
.tally_rock .tally__type-symbol {
    background-image: url(img/type/rock_sym.png);
}
.tally_steel .tally__type-symbol {
    background-image: url(img/type/steel_sym.png);
}
.tally_water .tally__type-symbol {
    background-image: url(img/type/water_sym.png);
}

.tally__marks {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.tally__mark {
    display: inline-block;
    width: 0.5em;
    height: 2em;
    text-indent: -999em;
    background-color: #e6e6e6;
    border-radius: 0.125em;
    margin: 0 0 0 0.3125em;
    position: relative;
}

:where(.tally__mark_positive, .tally__mark_negative):hover {
    top: -0.25em;
}

.tally__mark_positive {
    background-color: #67a9cf;
}

.tally__mark_negative {
    background-color: #ef8a62;
}

.slot_grayscale {
    opacity: 0.5;
    filter: grayscale(1);
}

/* Footer */

footer {
    font-size: 0.75em;
    text-align: right
}

#donation {
    line-height: 1.25rem;
    text-align: center
}

#bugs {
    text-align: center
}

#donation a {
    background: url(https://img.shields.io/badge/donation%20via-PayPal-blue.svg);
    display: inline-block;
    vertical-align: middle;
    text-indent: -999em;
    direction: ltr;
    width: 7.875rem;
    height: 1.25rem;
}


/* Sprites/Variations */

.slot__type_normal {
    background-image: url(./img/type/normal.png);
}

.slot__type_fighting {
    background-image: url(./img/type/fighting.png);
}

.slot__type_flying {
    background-image: url(./img/type/flying.png);
}

.slot__type_poison {
    background-image: url(./img/type/poison.png);
}

.slot__type_ground {
    background-image: url(./img/type/ground.png);
}

.slot__type_rock {
    background-image: url(./img/type/rock.png);
}

.slot__type_bug {
    background-image: url(./img/type/bug.png);
}

.slot__type_ghost {
    background-image: url(./img/type/ghost.png);
}

.slot__type_steel {
    background-image: url(./img/type/steel.png);
}

.slot__type_fire {
    background-image: url(./img/type/fire.png);
}

.slot__type_water {
    background-image: url(./img/type/water.png);
}

.slot__type_grass {
    background-image: url(./img/type/grass.png);
}

.slot__type_electric {
    background-image: url(./img/type/electric.png);
}

.slot__type_psychic {
    background-image: url(./img/type/psychic.png);
}

.slot__type_ice {
    background-image: url(./img/type/ice.png);
}

.slot__type_dragon {
    background-image: url(./img/type/dragon.png);
}

.slot__type_dark {
    background-image: url(./img/type/dark.png);
}

.slot__type_fairy {
    background-image: url(./img/type/fairy.png);
}

.slot[data-type^=normal] .slot__bg-type-1 {
    background-position: 0 0
}

.slot[data-type$=normal] .slot__bg-type-2 {
    background-position: 20% 0
}

.slot[data-type^=fighting] .slot__bg-type-1 {
    background-position: 40% 0
}

.slot[data-type$=fighting] .slot__bg-type-2 {
    background-position: 60% 0
}

.slot[data-type^=flying] .slot__bg-type-1 {
    background-position: 80% 0
}

.slot[data-type$=flying] .slot__bg-type-2 {
    background-position: 100% 0
}

.slot[data-type^=poison] .slot__bg-type-1 {
    background-position: 0 20%
}

.slot[data-type$=poison] .slot__bg-type-2 {
    background-position: 20% 20%
}

.slot[data-type^=ground] .slot__bg-type-1 {
    background-position: 40% 20%
}

.slot[data-type$=ground] .slot__bg-type-2 {
    background-position: 60% 20%
}

.slot[data-type^=rock] .slot__bg-type-1 {
    background-position: 80% 20%
}

.slot[data-type$=rock] .slot__bg-type-2 {
    background-position: 100% 20%
}

.slot[data-type^=bug] .slot__bg-type-1 {
    background-position: 0 40%
}

.slot[data-type$=bug] .slot__bg-type-2 {
    background-position: 20% 40%
}

.slot[data-type^=ghost] .slot__bg-type-1 {
    background-position: 40% 40%
}

.slot[data-type$=ghost] .slot__bg-type-2 {
    background-position: 60% 40%
}

.slot[data-type^=steel] .slot__bg-type-1 {
    background-position: 80% 40%
}

.slot[data-type$=steel] .slot__bg-type-2 {
    background-position: 100% 40%
}

.slot[data-type^=fire] .slot__bg-type-1 {
    background-position: 0 60%
}

.slot[data-type$=fire] .slot__bg-type-2 {
    background-position: 20% 60%
}

.slot[data-type^=water] .slot__bg-type-1 {
    background-position: 40% 60%
}

.slot[data-type$=water] .slot__bg-type-2 {
    background-position: 60% 60%
}

.slot[data-type^=grass] .slot__bg-type-1 {
    background-position: 80% 60%
}

.slot[data-type$=grass] .slot__bg-type-2 {
    background-position: 100% 60%
}

.slot[data-type^=electric] .slot__bg-type-1 {
    background-position: 0 80%
}

.slot[data-type$=electric] .slot__bg-type-2 {
    background-position: 20% 80%
}

.slot[data-type^=psychic] .slot__bg-type-1 {
    background-position: 40% 80%
}

.slot[data-type$=psychic] .slot__bg-type-2 {
    background-position: 60% 80%
}

.slot[data-type^=ice] .slot__bg-type-1 {
    background-position: 80% 80%
}

.slot[data-type$=ice] .slot__bg-type-2 {
    background-position: 100% 80%
}

.slot[data-type^=dragon] .slot__bg-type-1 {
    background-position: 0 100%
}

.slot[data-type$=dragon] .slot__bg-type-2 {
    background-position: 20% 100%
}

.slot[data-type^=dark] .slot__bg-type-1 {
    background-position: 40% 100%
}

.slot[data-type$=dark] .slot__bg-type-2 {
    background-position: 60% 100%
}

.slot[data-type^=fairy] .slot__bg-type-1 {
    background-position: 80% 100%
}

.slot[data-type$=fairy] .slot__bg-type-2 {
    background-position: 100% 100%
}

.slot_empty .slot__info {
    background: #68a090
}

.slot[data-type^=normal] .slot__info {
    background: #c6c6a7
}

.slot[data-type^=grass] .slot__info {
    background: #a7db8d
}

.slot[data-type^=fire] .slot__info {
    background: #f5ac78
}

.slot[data-type^=water] .slot__info {
    background: #9db7f5
}

.slot[data-type^=fighting] .slot__info {
    background: #d67873
}

.slot[data-type^=flying] .slot__info {
    background: #c6b7f5
}

.slot[data-type^=poison] .slot__info {
    background: #c183c1
}

.slot[data-type^=ground] .slot__info {
    background: #ebd69d
}

.slot[data-type^=rock] .slot__info {
    background: #d1c17d
}

.slot[data-type^=bug] .slot__info {
    background: #c6d16e
}

.slot[data-type^=ghost] .slot__info {
    background: #a292bc
}

.slot[data-type^=electric] .slot__info {
    background: #fae078
}

.slot[data-type^=psychic] .slot__info {
    background: #fa92b2
}

.slot[data-type^=ice] .slot__info {
    background: #bce6e6
}

.slot[data-type^=dragon] .slot__info {
    background: #a27dfa
}

.slot[data-type^=dark] .slot__info {
    background: #a29288
}

.slot[data-type^=steel] .slot__info {
    background: #d1d1e0
}

.slot[data-type^=fairy] .slot__info {
    background: #f4bdc9
}


/* Animations */

@keyframes jump {
    0%,
    100% {
        padding: 0.25rem 0 0 0;
    }
    50% {
        padding: 0 0 0.25rem 0;
    }
}

@keyframes shake {
    00% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    1% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@media screen and (min-width: 1280px) {
    .head_sticky {
        position: sticky;
        z-index: 100;
        top: -1px;
        left: 0;
        margin-bottom: 2rem;
    }

    .head_sticky .head__team {
        height: 100%;
        transition: 0.4s;
        background: transparent;
    }

    .head_sticky .head__header,
    .head_sticky .slot__info,
    .head_sticky .slot__toggle-container,
    .head_sticky .team__buttons,
    .head_sticky .team__heading {
        display: none;
    }

    .head_sticky .team,
    .head_sticky .team__slots {
        width: 100%;
        margin: 0;
    }

    .head_sticky .team {
        display: flex;
        height: 20vh;
        min-height: 9em;
    }

    .head_sticky .team__slots {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head_sticky .slot {
        transform: scale(0.75);
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 1279px) {
    .list {
        padding: 0;
    }

    :where(#team, #games) .list {
        text-align: center;
    }

    .slot {
        width: 8em;
    }

    .slot__pokemon-render {
        width: 5em;
        height: 5em;
        margin: 0 auto;
    }

    .slot__bg-type-1,
    .slot__bg-type-2 {
        width: 5em;
        margin: 0 auto;
    }

    .slot__info {
        width: 7em;
        height: 4em;
        padding: 0 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slot__type {
        display: none;
    }

    .list-pokemon button img {
        width: 3em;
        height: 3em;
    }
}

@media screen and (min-width: 775px) and (max-width: 1279px) {
    .team {
        max-width: 26em;
        box-sizing: content-box;
    }
}

@media screen and (max-width: 691px) and (orientation: portrait) {
    article {
        padding: 0;
        max-width: 19.125em;
    }
    #games {
        padding: 1.25em 0 1em;
    }
    #games .list {
        padding: 0;
    }
    #games .list .game a {
        margin: 1em 0;
    }

    .head__header p {
        display: none;
    }

    .head dd {
        margin: 0;
    }

    #team-planner h1 .game.name {
        display: block;
        margin: 0 auto;
    }

    #filters {
        display: none;
    }

    footer {
        font-size: 1em;
    }
}
